# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg
*.egg-info/
*.log

# Virtual Environment
venv/
.env/
.venv/

# Django
*.sqlite3
db.sqlite3
*.py[cod]
*.mo
*.pot
media/
staticfiles/
static_root/
*.bak

# PyCharm / IDE
.idea/
*.iml
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Coverage / Test Reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test-reports/
